<div class="jumbotron jumbotron-landing">
  <h1 class="display-4">Share your emotions</h1>
  <p class="lead">Post your photos and subscribe on your friends pages</p>
  <hr class="my-4">
   <a class="btn btn-primary" href="#" role="button">Create account</a>
   <a class="btn btn-primary" href="#" role="button">Log In</a>
</div>