<% if user_signed_in? %>

<% else %>

<div class="jumbotron jumbotron-landing">
  <h1 class="display-4">Share your emotions</h1>
  <p class="lead">Post your photos and subscribe on your friends pages</p>
  <hr class="my-4">
   <%= link_to "Create account", new_user_registration_path, class: "btn btn-primary" %>
   <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
</div>

<% end %> 